* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

:root {
    --background: rgb(87, 0, 0);
    --hovered-background: rgb(41, 2, 2);
}

@font-face {
    font-family: Environment;
    src: url(./fonts/Environment\ Bold.woff);
}

body {
    background-color: bisque;
    display: grid;
    grid-template-areas: 
    'header header'
    'menu main';
}

header {
    background-color: var(--background);
    min-height: 6rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Environment;
    font-size: 2rem;
    grid-area: header;
}

.left-side-header {
    display: flex;
    flex: 1;
    padding-left: 2rem;
}

.open-menu-button {
    display: flex;
    padding: .5rem;
}

.app-name {
    margin-left: 2rem;
    font-family: Environment;
}

.project-title-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.project-title-button {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: .5rem;
} 

.new-task-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.open-menu-button:hover, 
.project-title-button:hover, 
.new-task-button:hover, 
.edit-project:hover, 
.arrow:hover,
.new-project-button:hover,
.sorting-method:hover,
.sorting-reverse:hover,
.date-created:hover,
.priority:hover,
.due-date:hover,
.project-main-details:hover,
.actual-priority:hover,
.completion-status,
.task-button,
.clear-complete,
.edit-name-submit,
.low,
.medium,
.high,
.finish-button,
.edit,
.delete-button,
.yes,
.no
 {
    cursor: pointer;
}

.title {
    font-family: Environment;
    font-size: 2.5rem;
    padding-right: .5rem;
}

.new-task-button-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task {
    font-family: Environment;
    padding-left: .5rem;
}

.menu {
    width: 20vw;
    height: calc(100vh - 6rem);
    border-top: 1px bisque solid;
    background-color: var(--background);
    display: flex;
    flex-flow: column;
    align-items: center;
    transition: transform 200ms ease-out  50ms;
    grid-area: menu;
}


.menu-open {
    transform: translateX(-100%);
}

.new-project-container {
    margin-top: 1.5rem;
    font-family: Environment;
    font-size: 1.2rem;
    color: white;
}

.new-project-button {
    display: flex;
    align-items: center;
}

.project-area {
    font-size: 1.6rem;
    color: white;
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-top: 1rem;
}

.project-container {
    display: flex;
    flex: 1;
    padding: .2rem;
    margin-top: 1rem;
}

.arrow {
    margin-left: auto;
    margin-right: 1rem;
    transition: transform 150ms ease-out 50ms;
}

.arrow:hover {
    transform: rotate(90deg);
}

.expanded-tasks {
    display: flex;
    flex-flow: column;
    padding: .4rem 1.3rem;
    font-size: 1.2rem;
    background-color: var(--hovered-background);
}

.tasks {
    margin-top: .3rem;
    margin-left: .8rem;
}

.main-project-area {
    grid-area: main;
    width: 70vw;
}

.sorting-container {
    display: flex;
    margin: 1rem;
    gap: 10px;
    justify-content: center;
    position: relative;
}

.sorting-method {
    color: rgb(67, 67, 167);
}

.drop-down-sort {
    width: 110px;
    border: var(--background) 2px solid;
    display: flex;
    flex-flow: column;
    gap: 5px;
    justify-content: center;
    margin-left: 32.5vw;
    margin-top: -1rem;
    position: absolute; 
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 150ms ease-out 50ms;
    background-color: bisque;
    z-index: 10;
}

.transist {
    transform: scaleY(1);
    transform-origin: top;
}

/* had to look up the visibility property. It seems to work better
for hiding and displaying things with transitions. */
.invisible {
    visibility: hidden;
}

.date-created, .priority, .due-date {
    padding: .1rem .4rem;
}

.date-created:hover,
.priority:hover,
.due-date:hover {
    background-color: rgb(211, 180, 142);
}

.project-details {
    display: flex;
    flex-flow: column;
    border: 3px var(--background) solid;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 3px -1px;
    margin-bottom: 2rem;
}

.project-main-details {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.priority-detail {
    display: flex;
    align-items: center;
    gap: 6px;
}

.actual-priority {
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.low-priority {
    background-color: green;
}

.medium-priority {
    background-color: goldenrod;
}

.high-priority {
    background-color: red;
}

.completion-status, .yes, .no {
    padding: .6rem;
    border-radius: 10px;
    box-shadow: 2px 2px 7px -2px;
}

.incomplete, .no {
    background-color: rgb(250, 99, 99);
}

.complete, .yes {
    background-color: rgb(47, 201, 47);
}

.expanded-details {
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin-top: .8rem;
    border-top: 2px var(--background) solid;
    transition: transform 150ms ease-out 50ms;
    transform-origin: top;
}

/* idea for expand animation
.expanded-details:hover {   
    transform: scaleY(0);
} */

.task-and-button {
    display: flex;
    justify-content: space-between;
    margin-top: .6rem;
}

.expanded-task-title {
    margin-top: .4rem;
    font-weight: 900;
    font-size: 1.2rem;
}

.clear-complete {
    color: rgb(67, 67, 167);
    text-decoration: underline;
    margin-bottom: 2rem;
    width: fit-content;
}

.complete-tasks .task-title-detail, .complete-tasks .due-date-detail {
    color: rgb(92, 91, 91);
}

.complete-tasks .task-title-detail {
    text-decoration: line-through;
}

/* the pop-up modal for the name edit looking ok*/

.transparent-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(60, 60, 60, .3);
}

.edit-name, .confirm-close {
    display: flex;
    gap: 8px;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    background-color: bisque;
    border: var(--background) 4px solid;
    border-radius: 10px;
    box-shadow: 3px 3px 10px -2px;
    width: fit-content;
    padding: 1rem 3rem 1rem 3rem;
    position: absolute;
    left: 40%;
    top: 40%;
}

.edit-name label {
    font-size: 1.3rem;
    font-weight: bold;
}

.edit-name input {
    font-family: Environment;
    font-size: 2rem;
    border-radius: 10px;
    padding: .4rem;
}


.edit-name-submit {
    background-color: rgb(47, 201, 47);
    padding: .6rem;
    border-radius: 10px;
    box-shadow: 2px 2px 7px -2px;
    font-size: 1.2rem;
    font-weight: bold;
}

/* take out the default border shadow or w/e next time you get
the chance */



.task-input-form {
    position: absolute;
    left: 38%;
    top: 35%;
    background-color: bisque;
    width: fit-content;
    display: grid;
    grid-template-areas: 
    'task-header due-date'
    'task-title date-picker'
    'task-description priority'
    'task-description finish';
    padding: 1.5rem;
    border: var(--background) 4px solid;
    border-radius: 10px;
    box-shadow: 3px 3px 10px -2px;
    gap: 1.3rem;
}

.task-header {
    grid-area: task-header;
    font-family: Environment;
    font-size: 1.6rem;
}

.due-date-title {
    grid-area: due-date;
    font-size: 1.6rem;
}

.task-title-input {
    grid-area: task-title;
}

.task-title-input input {
    font-size: 1.3rem;
    padding: .4rem;
    border-radius: 10px;
}

.due-date-picker {
    grid-area: date-picker;
}

.due-date-picker input {
    font-size: 1.3rem;
    padding: .4rem;
    border-radius: 10px;
}

.task-description-input {
    grid-area: task-description;
}

.task-description-input textarea {
    font-size: 1.3rem;
    padding: .4rem;
    border-radius: 10px;
}

.priority-picker {
    grid-area: priority;
    display: flex;
    gap: 10px;
    font-size: 1.3rem;
    align-items: center;
}

.low, .medium, .high {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    padding: 10px;
}

.low {
    background-color: green;
}

.medium {
    background-color: goldenrod;
}

.high {
    background-color: red;
}

.active {
    outline: 2px solid black;
}

.finish-button {
    font-size: 1.3rem;
    grid-area: finish;
    background-color: rgb(47, 201, 47);
    padding: .6rem;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    box-shadow: 2px 2px 7px -2px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.task-button img {
    position: relative;
}

.pop-up-menu {
    display: flex;
    flex-flow: column;
    gap: 10px;
    position: absolute;
}


.edit, .delete-button {
    border: var(--background) 3px solid;
    background-color: bisque;
    padding: .3rem .6rem;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: black;
}

.confirm-close-container {
    display: none;
}

.confirm-close > div {
    font-weight: bold;
    font-size: 1.3rem;
}

.confirm-close {
    top: 45%;
    left: 45%;
    
}

.confirm-buttons {
    display: flex;
    gap: 35px;
}

.hidden {
    display: none;
}
